@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width : 100%;
}

/* Sidebar - Nav */

.sidebar{
    background-color: grey;
    width : 250px;
    height : 100vh;
}

.sidebar nav{
    padding : 45px;
}

.sidebar nav li{
    list-style: none;
    font-size : 20px;
    padding : 33px 0px;
}

.sidebar nav li a{
    text-decoration: none;
    color : black;
}

.main{
    /* background-color: yellow; */
    width : 88vw;
}


.info{
    /* background-color: aquamarine; */
    height : 60vh;
    width : 85vw;
    margin : auto;
    margin-top : 70px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 75px;
    font-family: 'Source Code Pro', monospace;
}

.name{
    font-size : 40px;
    font-family: 'Source Code Pro', monospace;

}

.about{
    margin: 10px 0px;
    font-family: 'Source Code Pro', monospace;
    font-size : 20px;
    font-weight: 800;

}

.btn{
    margin-top : 10px;
}

.btn button{
    font-family: 'Poppins', sans-serif;
    padding : 5px 12px;
    cursor : pointer;
    border-radius : 5px;
    background-color: rgb(0, 0, 0);
    color : whitesmoke;
    font-size: 17px;
}

.btn button:hover{
    color : black;
    background-color: yellow;
}

.devpic img{
    /* width : 100%; */
    height : 58vh;
}

.contactform {
    width : 100%;
    height : 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background :rgb(255, 255, 255);
}

.contactform h1{
    text-align: center;

    color: black;
    background-color: white;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

.contactform form {
    display : flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction : column;
    margin : 30px 0px;
}

.contactform form div label{
    font-size: 20px;
    margin : 10px 0px;
    padding : 5px;
    color: black;
    background-color: aliceblue;
    
    font-family: 'Source Code Pro', monospace;
}

.contactform form div{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin : 10px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    padding : 3px;
    font-size: 20px;
    margin : 10px 0px;
    font-family: 'Source Code Pro', monospace;
}

.btn-submit{
    padding : 8px 12px;
    font-size: 18px;
    margin : 10px auto;
    border-radius: 5px;
    background-color: white;
    color : black;
    cursor: pointer;
}

.btn-submit:hover{
    color :rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width : 100%;
}

/* Sidebar - Nav */

.sidebar{
    background : whitesmoke;
    width : 300px;
    height : 100vh;
    margin-left : -300px;
    transition: all 0.5s ease;
}

.sidebar nav{
    padding : 45px;
    transition: all 0.5s ease;

}

.sidebar nav li{
    list-style: none;
    font-size : 20px;
    padding : 33px 0px;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;

}

.sidebar nav li a{
    text-decoration: none;
    color : black;
    font-family: 'Source Code Pro', sans-serif;
}

.main{
    /* background-color: yellow; */
    width : 88vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    margin : auto;
}


.info{
    /* background-color: aquamarine; */
    height : 60vh;
    width : 85vw;
    margin : auto;
    margin-top : 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
    z-index : -1;
    position: absolute;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 75px;
    font-family: 'Source Code Pro', monospace;
}

.name{
    font-size : 40px;
    font-family: 'Source Code Pro', monospace;

}

.about{
    margin: 10px 0px;
    font-family: 'Source Code Pro', monospace;
    font-size : 20px;
    font-weight: 800;

}

.btn{
    margin-top : 10px;
}

.btn button{
    font-family: 'Poppins', sans-serif;
    padding : 5px 12px;
    cursor : pointer;
    border-radius : 5px;
    background-color: rgb(0, 0, 0);
    color : whitesmoke;
    font-size: 17px;
}

.btn button:hover{
    color : black;
    background-color: yellow;
}

.devpic img{
    width : 100%;
    height : 58vh;
}

.contactform h1{
    text-align: center;
    margin-top: 10px;
    /* background-color: red; */
    font-family: 'Source Code Pro', monospace;
}

.contactform form {
    display : flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction : column;
    margin : 30px 0px;
}

.contactform form div label{
    font-size: 20px;
    margin : 10px 0px;
    font-family: 'Source Code Pro', monospace;
}

.contactform form div{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin : 10px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    font-size: 20px;
    margin : 10px 0px;
    font-family: 'Source Code Pro', monospace;
}

.toggle-btn{
    position: absolute;
    top: 10px;
    font-family: 'Source Code Pro', monospace;
    left : 110px;
    padding : 8px 12px;
    cursor : pointer;
    font-weight: bold;
    border-radius: 8px;
    background-color: whitesmoke;
    color : black;
    transition: all 0.6s ease;
    margin-left : -100px;

}